body{
	font-family: "Helvetica";
	background-color: black;
	color: white;
}
div.h3{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
div.main{
	width:100%;
	padding: 0px 0px 0px 20px;
	margin: 0px 0px 0px 0px;
}
div.zone{
	width: 32%;
	
	background-color: black;
	color: white;
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	
}
div.tempOff{
	color: white;
	float: left;
	width:54%;
	height:150px;
	text-align: center;
	vertical-align: middle;
	font-size: 64pt;
	font-weight:normal;
	line-height: 150px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.tempRun{
	color: orange;
	float: left;
	width:54%;
	height:150px;
	text-align: center;
	vertical-align: middle;
	font-size: 64pt;
	font-weight: bold;
	line-height: 150px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.ctrl{
	vertical-align: top;
	float: left;
	width: 40%;
	height:150px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.setpt{
	line-height: 50px;
	text-align: center;
	font-size: 30pt;
	vertical-align: middle;
	width:100%;
	height:50px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

span.lbl{
	font-size: 8pt;
}
.button {
	width:100%;
	height:50px;
	padding: 1px 1px;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: lightgray;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px gray;
}
div.stat{
	width:100%;
	float:left;
	color: white;
}
.button:active {
  background-color: red;
  box-shadow: 0 0px gray;
  transform: translateY(2px);
}
div.readings {
	width:90%;
	float:left;
	font-size: 18pt;
	padding: 10px 10px 10px 40px;
}
div.chart{
	width: 100%;
	background-color: black;
	color: white;
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: green;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }