::-webkit-scrollbar { 
    display: none; 
}
body{
	font-family: "Helvetica";
	background-color: black;
	color: white;
	padding: 0px; 
	margin:0px;
}
.header{
	margin:0;
	padding: 0;
}
.date {
	margin: 0;
	padding: 0;
	float: left;
	line-height: 1;
	width: 110px;
	height: 123px;
	background: lightgray;
	background: linear-gradient(top, #dadada 0%, #adadad 100%);
	background: -moz-linear-gradient(top, #dadada 0%, #adadad 100%);
	background: -webkit-linear-gradient(top, #dadada 0%, #adadad 100%);
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.date p {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica, sans-serif;
	font-size: 42px;
	text-align: center;
	color: black;
}

.date p span.month {
	margin: 0;
	background: #d10000;
	background: linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -moz-linear-gradient(top, #d10000 0%, #7a0909 100%);
	background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	display: block;
	border-top: 3px solid #a13838;
	padding: 6px 0 6px 0;
}
.date p span.day {
	margin 0;
	background:white;
	border-bottom: 3px solid #9e9e9e;
	border-radius: 10px 10px 0 0;
	font-size:12px;
	text-transform: uppercase;
	color:black;
	display:block;
	padding: 6px 0 6px 0;
	
}
.date p span.weather {
	margin: 0;
	background:green;
	background: linear-gradient(top, #00d123 0%, #097a54 100%);
	background: -moz-linear-gradient(top, #00d123 0%, #097a54 100%);
	background: -webkit-linear-gradient(top, #00d123 0%, #097a54 100%);
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	
	display: block;
	border-top: 3px solid #097a54;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 6px 0 6px 0;
}

@-moz-document url-prefix() {
	.date {
		padding: 16px 0 0 0;
	}

	.date p span {
		padding: 9px 0 3px 0;
	}
}
.crop{
	margin: auto;
	max-width: 706px;
	width: 83%;
    height: 128px;
    overflow: hidden;
}
.crop img {
    width: 100%;
    height: 172px;
	margin: -24px auto;
}
div.h3{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
div.main{
	width:100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.scrolableWrapper{
	overflow-y: scroll;
	padding-left: 20px;
}
div.zone{
	width: 32%;	
	background-color: black;
	color: white;
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;	
}
div.tempRunOFF{
	color: white;
	float: left;
	width:54%;
	height:150px;
	text-align: center;
	vertical-align: middle;
	font-size: 64pt;
	font-weight:normal;
	line-height: 150px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.tempRunHEAT{
	color: orange;
	float: left;
	width:54%;
	height:150px;
	text-align: center;
	vertical-align: middle;
	font-size: 64pt;
	font-weight: bold;
	line-height: 150px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.tempRunCOOL{
	color: cornflowerblue;
	float: left;
	width:54%;
	height:150px;
	text-align: center;
	vertical-align: middle;
	font-size: 64pt;
	font-weight: bold;
	line-height: 150px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.ctrl{
	vertical-align: top;
	float: left;
	width: 40%;
	height:150px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
div.setpt{
	line-height: 50px;
	text-align: center;
	font-size: 30pt;
	vertical-align: middle;
	width:100%;
	height:50px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

span.lbl{
	font-size: 8pt;
}
.button {
	width:100%;
	height:50px;
	padding: 1px 1px;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background-color: lightgray;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px gray;
}
div.stat{
	width:100%;
	float:left;
	color: white;
}
.button:active {
  background-color: red;
  box-shadow: 0 0px gray;
  transform: translateY(2px);
}
div.readings {
	width:90%;
	float:left;
	font-size: 18pt;
	padding: 10px 10px 10px 40px;
}
div.chart{
	width: 100%;
	background-color: black;
	color: white;
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
div.runmode{
	padding-left:20px;
	width:85%;
	margin: 10px;
	float:left;
	text-align: center;
}
input[id^="heat"]:checked ~ a {background-color:orange}
input[id^="cool"]:checked ~ a {background-color:cornflowerblue}
input[id^="off"]:checked ~ a {background-color:slategray}

